<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center ">
  <div fxLayout="column" fxLayoutGap="15px" fxFlex="50">
    <mat-card fxFlex>
      <mat-card-title>
        Input
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <div>
          <input type="text" #inputString (input)="evalXLS(getValueFromEvent($event))"/>
          <button (click)="emptyInput()">Remove</button>
        </div>
        <ng-container *ngIf="inputXls.length > 0">
          <table class="input-tab">
            <tbody>
              <tr class="row" *ngFor="let row of inputXls;index as x">
                <td class="cell" *ngFor="let cell of row;index as y">
                  <div class="cell-content" (click)="select(x, y)" (contextmenu)="selectProjection(x, y)" [ngStyle]="{'background-color': getColorByCell(cell)}">{{cell}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex>
      <mat-card-title>
        Outils
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="column">
          <button (click)="verticalInterpolation()">Interpolation Vertical</button>
          <button (click)="horizontalInterpolation()">Interpolation Horizontal</button>
          <button (click)="horizontalProjection()">Projection Horizontal</button>
          <button (click)="verticalProjection()">Projection Vertical</button>
        </div>
        <div>
          <label>1st :</label>
          <input type="number" #selected [value]="this.xls.selectedCell.value">
          <button (click)="setCell(selected)">Set</button>
        </div>
        <div>
          <label>2nd :</label>
          <input type="number" #selectedSecond [value]="this.xls.selectedSecondCell.value">
          <button (click)="setCell(selectedSecond)">Set</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
